<div class="body">
  <div class="top">
    <div class="image">
      <img [src]="imgPath" alt="Image" />
    </div>
    <div class="detail">
      <h2>Balachandregowda P</h2>
      <h3>Web Developer</h3>
    </div>
  </div>
  <div class="bottom">
    <div class="content">
      <div class="about">
        "Hi, my name is <strong>Balachandregowda</strong><br> And I am a computer science student. I
        have a strong interest in technology and programming, and I'm excited to
        be studying in a field that offers so many opportunities for innovation
        and growth. I am constantly seeking out new challenges and opportunities
        to learn. I enjoy working on coding projects to apply my knowledge and 
        skills in practical ways. I am excited about the many possibilities that 
        the future hold "
      </div>
      <a href="mailto:balagowda9483@gmail.com">
        <div class="mail">
          <div class="ico"><i class="fa-solid fa-envelope"></i></div>
          <div class="mai"><h4>balagowda9483@gmail.com</h4></div>
        </div>
      </a>
    </div>

    <div class="icons">
      <ul>
        <li>
          <a href="https://github.com/balagowda"><i class="fab fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/gowdru_salaga?t=dXkqug4Lde-na5X-dAgp_g&s=08"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/balachandregowda-p-20034a224"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/gowdru_salaga/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://balagowda.github.io/host-myProfile/"><i class="fa-sharp fa-solid fa-b fab"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
